
.open-sans-normal1{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bg-secendary{
      background-color:#D6DDED;

}
/* shared hover */
.cta-btn:hover {
  background-color:yellow;
}
.cta-1-btn:hover{
  background-color: #4E47FF;
}


.logo{
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}
.sign-up-btn{
    padding: 12px 36px 12px 36px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 150px;  
    /* height: 80px; */
    /* padding: 52px 150px; */
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
/* nav styles */
nav ul li {
    list-style: none;

}

nav li a{
    text-decoration: none;
}

/* banner  */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 116px 260px 116px 140px; */
}
.banner h1{
    font-weight: bold;
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
}
.focus-btn{
    padding: 12px 36px 12px 36px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* action-section */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: auto;
    padding: 116px 160px 116px 140px;
    max-width: 1270px;
    margin-left: 150px;
    margin-right: 150px;

}

.action-left h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  color:rgba(37, 36, 50, 1);
  
}

.action-left p {
  font-size: 16px;
  color:rgba(37, 36, 50, 0.5);
  margin-bottom: 20px;
}
.preview-btn {
  padding: 10px 20px;
  background-color: #4E47FF;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.action-right img {
  max-width: 100%;
  width: 400px;
  height: 328px;
  border-radius: 48px;
}
/* users section */
.users-stats-section {
  background-color:rgba(78, 71, 255, 0.1);
  margin-left: 265px;
  margin-right: 250px;
  padding: 50px 142px;
  text-align: center;
  border-radius: 24px; 
  max-width: 1270px;
  height: 300px;
  /* gap: 10px; */
}

.users-stats-section h2 {
  font-size: 38px;
  font-weight: bold;
  color: rgba(37, 36, 50, 1);
  gap: 40px;
  /* padding-bottom: 10px; */
  margin-bottom: -40px;
}
.users-stat-box h3 {
  font-size: 80px;
  color: #4E47FF;
  font-weight: bold;
  margin-bottom:0px;
  
}

.users-stat-box p {
  font-size: 20px;
  color: #000000;
  margin-top: 0px;
}

.users-stats-container {
  display: flex;
  justify-content: space-around;
  gap:50px;
  /* flex-wrap: wrap; */
  padding-bottom:80px;
  margin-top: 0px;
}

/* contact-section */
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  background-color:#D6DDED;
  margin-left: 165px;
  margin-right: 150px;

}

.contact-left h1 {
  font-size: 97px;
  font-weight: bold;
  color: #000000;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  /* min-height: 70px; */
  /* max-width: 1270px; */
}
label {
  margin-top: 20px;
  /* padding: 20px 32px; */
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
input,
textarea {
  margin-top: 10px;
  padding: 20px 32px;
  font-size: 20px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  outline: none;
}
.touch-btn {
  margin-top: 24px;
  padding: 12px;
  background-color: #4f46e5;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* footer */
.footer {
  text-align: center;
  padding: 60px 20px;
  background-color: #ffffff;

}
.footer h2{
  font-size: 100px;
  margin-bottom: 5px;
}
.footer .subtitle {
  color: #8987A1;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto 24px auto;
  line-height: 1.6;
  margin-bottom: 0px;
}



.footer-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/* feedback section */
.feedback-section {
  padding: 60px 0px;
  text-align: center;
  margin-left: 110px;
  margin-right: 100px;
}
.feedback-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}
.feedback-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 400px;
  text-align: left;
}

 .reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.reviewer-info span {
  display: block;
  font-size: 15px;
  font-weight: 500;
}
.reviewer-info small {
  color:rgba(242, 237, 237, 1);
  font-size: 14px;
}
/* focus-better-section */
.focus-section {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
  margin-left: 265px;
  margin-right: 250px;
}
.focus-content h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.focus-content p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}
.free-btn {
  
  background-color: #4E47FF;
  color: #fff;
  border: none;
  padding: 12px 36px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 30px;
}
.focus-content img {
  max-width: 100%;
  border-radius: 48px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
}
